//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

.form-control, .form-select, .btn, .dropdown-menu.show{
    border-radius: 2px;
}

.text-right{
    text-align: right;
}

.form-floating > .form-control:focus ~ label, .form-floating > .form-select ~ label{
    color: #4c78dd;
}

.dropstart .dropdown-toggle::before{
    content: none;
}